{
  "presets": [
    ["@babel/preset-env", { "modules": false }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-assign",
    "@babel/plugin-transform-runtime",
    ["@babel/proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    ["module-resolver", {
      "root": ["./resources"],
      "alias": {
        "@": "./resources"
      }
    }]
  ]
}
