.socials {
    display: flex;

    &__item {
        & + & {
            margin-left: toRem(16);
        }
    }

    @include media-tabletLate {
        &__item {
            & + & {
                margin-left: toRem(8);
            }
        }
    }
}
