.success-story-section {
    &__slide {
        width: auto;

        & + & {
            margin-left: toRem(12);

            @include media-tablet {
                margin-left: toRem(20);
            }
        }
    }
}
