@mixin spacing($color) {
    &--spacing {
        &-top {
            @include paddingLevel(top, $color);
        }

        &-bottom {
            @include paddingLevel(bottom, $color);
        }

        &-both {
            @include paddingLevel(vertical, $color);
        }
    }
}

.section-layout {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include spacing(gray);

    &__header {
        @include marginLevel(bottom, purple);

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__description {
        @include marginLevel(top, pink);
        @include fontSize(p1);

        max-width: toRem(550);
    }

    @include media-tabletLate {
        @include spacing(black);
    }

    @include media-desktop {
        @include spacing(beige);

        &__header {
            @include marginLevel(bottom, gray);
        }

        &__description {
            @include marginLevel(top, blue);
        }
    }
}
